.channels-container {
  padding: 16px;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}

.channel-show {
  margin-top: 15px;
  padding-left: 15px;
}

.channel-show h1 {
  margin: 0;
  user-select: none;
}

.channel-show p {
  font-family: 'gg-sans-med';
  margin: 10px 0;
  user-select: none;
  color: #dcddde;
}

.channel-circle {
  background-color: #4f545c;
  /* background-color: #4f545c; */
  width: 65px;
  height: 65px;
  border-radius: 50%;
  position: relative;
  display: flex;
  justify-content: center;
  margin-bottom: 5px;
  overflow: visible;
  margin-bottom: 5px;
  transition: border-radius 128ms, background 128ms, color 128ms;
}

.messages {
  width: 100%;
  position: sticky;
  bottom: 10px;
  padding-left: 15px;
}

.messages > input {
  width: calc(100% - 50px);
  font-family: 'gg-sans-med';
  font-size: 16px;
  padding: 10px;
  margin: 10px 0;
  border-radius: 4px;
  border: none;
  background: none;
  color: white;
  background-color: #40444b;
}

.messages > input:focus {
  outline: none;
}

.messages > input::placeholder {
  color: #96989d;
}

.edit-channel {
  font-family: 'gg-sans-med';
  display: flex;
  align-items: center;
  cursor: pointer;
  width: 120px;
  padding: 5px;
  border-radius: 4px;
  user-select: none;
}

.edit-channel svg {
  margin-bottom: 5px;
}

.modal {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  z-index: 200;
  background-color: rgba(28, 28, 28, 0.733);
}

.modal-show {
  visibility: visible;
}

.modal-hide {
  visibility: hidden;
}