.channel-wrapper {
  overflow-y: scroll;
  max-height: calc(100vh - 70px);
}

.channel-wrapper::-webkit-scrollbar {
  width: 8px;
}

.channel-wrapper::-webkit-scrollbar-track {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background-color: #2e3338;
  margin: 3px 0;
}

.channel-wrapper::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-border-radius: 10px;
  background-color: #202225;
}

.channels-container {
  left: 80px;
  /* width: calc(100vw - 470px); */
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}

.channel-show {
  margin-top: 15px;
  padding-left: 15px;
}

.channel-show h1 {
  margin: 0;
  user-select: none;
}

.channel-show p {
  font-family: 'gg-sans-med';
  margin: 10px 0;
  user-select: none;
  color: #dcddde;
}

.channel-icon {
  background-color: #4f545c;
  width: 65px;
  height: 65px;
  border-radius: 50%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
  overflow: visible;
  margin-bottom: 5px;
  transition: border-radius 128ms, background 128ms, color 128ms;
}

.large-channel-icon {
  background-color: #4f545c;
  width: 65px;
  height: 65px;
  border-radius: 50%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
  overflow: visible;
  margin-bottom: 5px;
  transition: border-radius 128ms, background 128ms, color 128ms;
}

.channel-icon > svg {
  margin-left: 8px;
  margin-bottom: 12px;
}

.messages {
  width: 100%;
  position: sticky;
  bottom: 0px;
  padding-left: 15px;
  background-color: #36393f;
}


.messages > input {
  width: calc(100% - 50px);
  font-family: 'gg-sans-med';
  font-size: 16px;
  padding: 10px;
  margin: 10px 0;
  border-radius: 4px;
  border: none;
  background: none;
  color: white;
  background-color: #40444b;
}

.messages > input:focus {
  outline: none;
}

.messages > input::placeholder {
  color: #96989d;
}

.edit-channel {
  font-family: 'gg-sans-med';
  display: flex;
  align-items: center;
  cursor: pointer;
  width: 120px;
  padding: 5px;
  border-radius: 4px;
  user-select: none;
}

.edit-channel svg {
  margin-bottom: 5px;
}

.modal {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  z-index: 200;
  background-color: rgba(28, 28, 28, 0.9);
}

.modal-show {
  visibility: visible;
}

.modal-hide {
  visibility: hidden;
}

.dms-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.dm-first-message {
  margin-bottom: 16px;
}

.bigger-user-logo {
  width: 25px;
  height: 25px;
  border-radius: inherit;
}

