.message-item {
  display: flex;
  width: calc(100% - 15px);
  align-items: center;
  margin: 7px 0;
  padding: 10px 5px 10px 10px;
  border-radius: 3px;
}

.message-item:hover{
  background-color: #32353b;
}

.message-user-icon {
  width: 40px;
  height: 40px;
  margin-left: 3px;
  margin-right: 10px;
  border-radius: 50%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.message-username {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.message-user-logo {
  width: 30px;
  height: 30px;
  border-radius: inherit;
}

.message-body {
  width: 100%;
  margin-left: 7px;
}

#time {
  font-size: 0.75rem;
  font-style: normal;
  font-family: "gg-sans-med";
  margin-left: 0.25rem;
  color: #96989d;
}

.message-text p {
  font-family: 'gg-sans';
}

.message-actions {
  border-radius: 5px;
  display: flex;
  border: 1px solid #2c2f33;
  background-color: #36393f;
}

.message-actions:hover {
  cursor: pointer;

}

.edit-action, .delete-action {
  padding: 2px;
  display: flex;
  align-items: center;
  border-radius: 4px;
}


.edit-action:hover, .delete-action:hover {
  background-color: #45494e;
}

.edit-message-form {
  width: 95%;
}

.edit-message-form > input {
  width: calc(100% - 47px);
  font-family: 'gg-sans-med';
  margin: 10px 0;
  padding: 10px;
  font-size: 16px;
  border-radius: 9px;
  background: none;
  border: none;
  color: white;
  background-color: #40444b;
}

.edit-message-form > input:focus {
  outline: none;
}

.msg-edit-info {
  font-size: 12px;
}

.msg-edit-info > span {
  font-family: 'gg-sans';
  color: #01adf1;
  font-style: normal;
  cursor: pointer;
}

.msg-edit-info > span:hover {
  text-decoration: underline;
}

.message-body > p {
  width: 80%;
  overflow-wrap: break-word;
  font-family: 'gg-sans-med';
}

.edit-action > svg {
  margin-left: 10px;
}

.delete-action > svg {
  margin-left: 10px;
}