.server-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #2f3136;
  color: white;
}

.panels-container {
  height: 100%;
  display: flex;
  /* justify-content: space-between; */
}

.channels-container {
  width: calc(100vw - 560px);
  left: 80px;
  background-color: #36393f;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.server-show {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 80px;
  display: flex;
  justify-content: space-between;
  z-index: 0;
}

.users-panel, .server-panel {
  width: 240px;
  display: flex;
  justify-content: flex-start;
  background-color: #2f3136;
  color: white;
}

.users-panel ul {
  list-style-type: none;
  padding-inline-start: 0;
  margin-block-start: 0;
  margin-block-end: 0;
}

.users-panel ul > li {
  margin: 15px 20px;
}

.server-panel {
  height: 100%;
  flex-direction: column;
  align-items: flex-start;
}

.server-panel p {
  /* margin: 10px 15px; */
  font-family: 'gg-sans-bold';
}

.server-header {
  display: flex;
  border-bottom: 1px solid #202225;
  width: 100%;
  z-index: 10;
  box-shadow: 0px 1px -1px #202225;
}

.server-header-left {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.server-header h4 {
  width: 180px;
  font-size: 16px;
  font-family: 'gg-sans-bold';
  margin: 15px;
}

.remainder-of-page {
  width: calc(100% - 320px);
  background-color: #36393f;
  color: white;
  display: flex;
  justify-content: space-between;
}

.settings-menu {
  position: absolute;
  margin-top: 45px;
  margin-left: 10px;
}

.settings {
  list-style-type: none;
  width: 210px;
  border-radius: 5px;
  background-color: #18191c;
  padding: 10px 5px;
}

.settings > li {
  margin: 0;
  padding: 1px 5px;
}

.settings > li > button {
  width: 100%;
  height: 100%;
  text-align: left;
  background: none;
  color: inherit;
  border: none;
  margin: 0;
  padding: 5px;
  font-family: 'gg-sans-med';
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
}

svg {
  cursor: pointer;
  margin-top: 15px;
  padding-right: 10px;
}

.user-settings > svg {
  margin-bottom: 10px;
}

.divide-line {
  width: 100%;
  background: white;
  height: 1px;
  opacity: 0.05;
  margin: 3px 0;
  border-radius: 3px;
}

.server-form {
  padding: 20px;
  height: 320px;
  width: 440px;
  left: 50%;
  top: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  border-radius: 5px;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  position: absolute;
}

.server-form form {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.server-form h2 {
  color: black;
}

.server-form p {
  font-family: 'gg-sans';
  color: #555b65;
}

.server-form input {
  font-family: 'gg-sans-med';
  margin: 10px 0;
  padding: 10px;
  font-size: 16px;
  border-radius: 3px;
  border: none;
  background-color: #e3e5e8;
  color: #2e3338;
}

.server-form-header {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}

.server-form-header h2,
.server-form-header p {
  margin: 5px;
}

.form-user-inputs {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.server-name-label {
  font-size: 12px;
  color: #4f5660;
}

.server-form button {
  padding: 12px;
  border: none;
  border-radius: 3px;
  width: 95px;
  height: 40px;
  background-color: #5865f2;
  color: white;
  font-weight: bold;
  margin-top: 5px;
  margin-bottom: 10px;
  font-size: 14px;
  font-family: 'gg-sans-med';
}

#back {
  background-color: white;
  color: black;
  font-family: "gg-sans", sans-serif;
  padding: 0;
  display: flex;
  align-items: center;
  padding-left: 15px;
}

#back:hover{
  text-decoration: underline;
}

.server-form button:hover {
  background-color: #4752c4;
  cursor: pointer;
  transition: 0.3s;
}

.form-footer {
  width: 440px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

span {
  font-style: italic;
  color: red;
}

.delete-confirmation {
  height: 25%;
  width: 28%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: #18191c;
  border-radius: 5px;
}

.text-channels {
  margin: 2px 10px;
  padding: 7px 5px;
  height: 20px;
  width: calc(100% - 30px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: small;
  user-select: none;
  color: #96989d;
}

.text-channels > svg {
  margin-bottom: 15px;
}

.channels-list {
  width: 100%;
  margin-block-end: 0;
}

.channel-item {
  /* padding: 5px; */
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 2px 10px;
  border-radius: 5px;
  user-select: none;
  font-family: 'gg-sans-med';
  font-weight: bold;
  text-decoration: none;
  color: #96989d;
  border: none;
}

.channel-item-text {
  margin: 0;
  /* margin-top: 40px; */
}

.channel-name {
  margin-left: 15px;
  display: flex;
  align-items: center;
}

.channel-name h4 {
  font-size: 20px;
}

.remainder-of-page h4 {
  margin: 0;
  padding-top: 12px;
}

/* .channels-list li > p {
  margin-top: 10px;
} */

svg.MuiSvgIcon-root.MuiSvgIcon-fontSizeMedium.css-1xa4f4y-MuiSvgIcon-root {
  margin-bottom: 15px;
}