.user-show {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 80px;
  background-color: #2f3136;
  color: white;
}

.bottom-panel {
  display: flex;
  width: 240px;
  height: 52px;
  background-color: #2a2c30;
  position: fixed;
  left: 80px;
  bottom: 0;
  justify-content: space-between;
  align-items: center;
  z-index: 101;
}

.user-button {
  display: flex;
  width: calc(-52% + 240px);
  border-radius: 4px;
  user-select: none;
  cursor: pointer;
  margin-left: 5px;
  padding: 3px 10px 3px 5px;
}

.user-button:hover {
  background-color: #3f4248;
}

.user-details {
  display: flex;
  flex-direction: column;
}

.user-details h4 {
  font-family: 'gg-sans-bold';
  font-size: 14px;
}

.settings {
  display: flex;
  margin-right: 10px;
}

.icons {
  cursor: pointer;
  padding: 5px;
  border-radius: 4px;
}

.icons:hover {
  background-color: #3f4248;
  color: white;
}