.user-show {
  width: 100%;
  height: 100%;
  display: flex;
  position: fixed;
  left: 80px;
  background-color: #2f3136;
  color: white;
}

.friends-info {
  width: 80%;
}

.friends-panel-container {
  margin-top: 50px;
}

.user-show-header {
  position: fixed;
  left: 80px;
}

.user-show-left {
  width: 240px;
}

.friend-options {
  display: flex;
  gap: 15px;
  margin-left: 15px;
}

.width {
  width: 105px;
}

.options-button {
  background: none;
  border: none;
  font-family: 'gg-sans-med';
  font-weight: bold;
  font-size: 16px;
  padding: 3px 10px;
  display: flex;
  align-items: center;
  cursor: pointer;
  border-radius: 5px;
  color: #b9bbbe;
}

.options-button:hover {
  background-color: #45494e;
  color: white;
}

#options-active {
  background-color: #45494e;
  color: white;
}

.friend-info {
  width: calc(100% - 320px);
  background-color: #36393f;
  margin-top: 50px;
}

.bottom-panel {
  display: flex;
  width: 240px;
  height: 52px;
  background-color: #2a2c30;
  position: fixed;
  left: 80px;
  bottom: 0;
  justify-content: space-between;
  align-items: center;
  z-index: 101;
}

.user-button {
  display: flex;
  width: calc(-52% + 240px);
  border-radius: 4px;
  user-select: none;
  cursor: pointer;
  margin-left: 5px;
  padding: 3px 10px 3px 5px;
}

.user-button:hover {
  background-color: #3f4248;
}

.user-details {
  display: flex;
  flex-direction: column;
}

.user-details h4 {
  font-family: 'gg-sans-bold';
  font-size: 14px;
}

.user-details p {
  font-family: 'gg-sans-med';
  font-size: 12px;
  color: #96989d;
}

.user-settings {
  display: flex;
  margin-right: 10px;
}

.icons {
  cursor: pointer;
  padding: 5px;
  border-radius: 4px;
}

.icons:hover {
  background-color: #3f4248;
  color: white;
}

.user-circle {
  width: 32px;
  height: 32px;
  margin-left: 5px;
  margin-right: 10px;
  border-radius: 50%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}


.channel-name > svg {
  margin-bottom: 12px;
}

.user-show-left > svg {
  margin-left: 10px;
}

.friend-show-li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
  border-radius: 5px;
  cursor: pointer;
}

.vertical-line {
  width: 1px;
  background-color: white;
  height: 50%;
  opacity: 0.1;
  margin: 10px 0 10px 15px;
  z-index: 101;
  border-radius: 2px;
}

.friends-show-main {
  height: 100%;
  padding: 15px 20px;
}

.user-text-channels {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: small;
  user-select: none;
  color: #b9bbbe;
  margin-bottom: 3px;
  width: calc(100% - 30px);
  padding: 7px 5px 5px 5px;
}

.friend-show-li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  border-radius: 5px;
  cursor: pointer;
}

.item-left {
  display: flex;
  align-items: center;
  padding-left: 5px;
}

.item-right {
  display: flex;
  align-items: center;
  padding-left: 5px;
}

.user-name {
  display: flex;
  align-items: center;
  font-family: 'gg-sans-med';
}

.user-status {
  color: #b9bbbe;
  font-family: 'gg-sans';
  font-size: 10px;
  font-weight: bold;
}

.hidden-tag {
  font-style: normal;
  color: #36393f;
  font-family: 'gg-sans-med';
  font-size: 14px;
  display: none;
}

#user-show-divider {
  margin: 0 4px;
  width: calc(100% - 10px);
}

.item-right:hover {
  border-radius: 5px;
  color: #dcddde;
  cursor: pointer;
  background-color: #3c3f45;
}

.item-option {
  display: flex;
  align-items: center;
  margin-left: 5px;
}